.container {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    position: fixed;
    z-index: 9990;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    top: 0;
    border-bottom: 1px solid rgba(199, 199, 199, 0.527);
}

.wrap {
    display: flex;
    padding:3vh 5vw;
    align-items: center;justify-content: space-between;
    width: 100%;
}

.left{
    flex: 6;
}

.right{
    flex:6;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.logo{
    font-weight: 500;
    font-size: 1.3rem;
}

.logout{
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: none;
    outline: none;
    background: red;
    color: #fff;
    font-size:1rem;
    font-weight: 500;
}